@tailwind base;
@tailwind components;
@tailwind utilities;

 html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
}

*, 
*::after
*::before {
  box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'MomoSignature', sans-serif;
  overflow-y: hidden;
  
}

@media  screen and  (max-width: 35em)  { 
  body {
    overflow-y: scroll;
      
  }
}

@media  screen and  (max-width: 62.5em)  { 
  body {
    overflow-y: scroll;
      
  }
}

#root {
  height: 100%;
  width: 100%;
  margin-bottom: 0;
  
  
}
